h1{
    color: #35465c;
text-align: center;
font-family: 'Ranchers', cursive;
font-size: 100px;
}

.colorname{
    color: blueviolet;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
p{
    text-align: center;
}
img{
    margin-left: 35%
}
body{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.muralswallpaper.com%2Fshop-murals%2Fgreen-tropical-plant-wallpaper-mural%2F&psig=AOvVaw1HIzCwbvBpIy64k359nRCp&ust=1595158932492000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOiur5_c1uoCFQAAAAAdAAAAABAJ);
background-size: cover;
background-repeat: no-repeat;
}
hr{
    background-color: black;
    height: 20px;
}